In [2]:
from pandas_datareader import data
import datetime

start = datetime.datetime(2019, 9, 1)
end = datetime.datetime(2019, 9, 10)

df = data.DataReader(name="GOOG", data_source="yahoo", start=start, end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-09-03,1186.890015,1163.199951,1177.030029,1168.390015,1479900,1168.390015
2019-09-04,1183.479980,1171.000000,1176.709961,1181.410034,1068900,1181.410034
2019-09-05,1213.040039,1191.530029,1191.530029,1211.380005,1408100,1211.380005
2019-09-06,1212.015015,1202.521973,1208.130005,1204.930054,1072100,1204.930054
2019-09-09,1220.000000,1192.619995,1204.000000,1204.410034,1471900,1204.410034
2019-09-10,1210.000000,1194.579956,1195.150024,1206.000000,1260100,1206.000000
2019-09-11,1222.599976,1202.199951,1203.410034,1220.170044,1307000,1220.170044