In [3]:
from pandas_datareader import data
import datetime

In [4]:
start = datetime.datetime(2019, 9, 1)
end = datetime.datetime(2019, 9, 10)

df = data.DataReader(name="AAPL", data_source="yahoo", start=start, end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-09-03,206.979996,204.220001,206.429993,205.699997,20023000,205.699997
2019-09-04,209.479996,207.320007,208.389999,209.190002,19188100,209.190002
2019-09-05,213.970001,211.509995,212.000000,213.279999,23913700,213.279999
2019-09-06,214.419998,212.509995,214.050003,213.259995,19362300,213.259995
2019-09-09,216.440002,211.070007,214.839996,214.169998,27309400,214.169998
2019-09-10,216.779999,211.710007,213.860001,216.699997,31777900,216.699997
2019-09-11,223.710007,217.729996,218.070007,223.589996,43590900,223.589996